.container {
  padding: 0 9.920634920634921vw;
  margin-top: var(--containerMarginTop);
}

.cards {
  position: relative;
  height: 34.39153439153439vw;
  margin-top: 4.62962962962963vw;
}

.imgContainer .img {
  width: 100%;
  height: 100%;
}

.container .imgContainer:nth-child(1) {
  object-fit: cover;
  position: absolute;

  width: 26.058201058201057vw;
  height: 34.39153439153439vw;
}
.container .imgContainer:nth-child(2) {
  object-fit: cover;

  position: absolute;
  left: 27.380952381vw;

  width: 18.51851851851852vw;
  height: 16.534391534391535vw;
}
.container .imgContainer:nth-child(3) {
  grid-column: span 2;
  grid-row: span 1;
  object-fit: cover;

  position: absolute;
  left: 47.2222222223vw;
  width: 32.93650793650794vw;
  height: 16.534391534391535vw;
}
.container .imgContainer:nth-child(4) {
  object-fit: cover;
  position: absolute;
  left: 27.380952381vw;
  bottom: 0;
  width: 32.93650793650794vw;
  height: 16.534391534391535vw;
}
.container .imgContainer:nth-child(5) {
  grid-column: span 2;
  grid-row: span 1;
  object-fit: cover;
  width: 18.51851851851852vw;
  height: 16.534391534391535vw;
  position: absolute;
  bottom: 0;
  right: 0;
}
