.default {
    --spacing12: 0.7936507936507936vw;
    --spacing20: 1.3227513227513228vw;
    --spacing24: 1.5873015873015872vw;
    --spacing30: 1.984126984126984vw;
    --spacing32: 2.1164021164021163vw;
    --spacing36: 2.380952380952381vw;
    --spacing40: 2.6455026455026456vw;
    --spacing50: 3.3068783068783065vw;
    --spacing60: 3.968253968253968vw;
    --spacing70: 4.62962962962963vw;
    --spacing80: 5.291005291005291vw;
    --spacing90: 5.952380952380952vw;
    --spacing100: 6.613756613756613vw;
    --spacing120: 7.936507936507936vw;
    --spacing150: 9.920634920634921vw;
    --spacing200: 13.227513227513228vw;
    --spacing250: 16.534391534391533vw;
    --spacing300: 19.84126984126984vw;
    --spacing384: 25.396825396825395vw;
    --spacing400: 26.455026455026456vw;
    --spacing500: 33.06878306878307vw;

    --mspacing4: 1.0666666666666667vw;
    --mspacing8: 2.1333333333333333vw;
    --mspacing10: 2.666666666666667vw;
    --mspacing12: 3.2vw;
    --mspacing14: 3.733333333333334vw;
    --mspacing16: 4.266666666666667vw;
    --mspacing18: 4.8vw;
    --mspacing20: 5.333333333333334vw;
    --mspacing24: 6.4vw;
    --mspacing30: 8vw;
    --mspacing32: 8.533333333333333vw;
    --mspacing40: 10.666666666666668vw;
    --mspacing50: 13.333333333333334vw;
    --mspacing60: 16vw;
    --mspacing68: 18.133333333333333vw;
    --mspacing70: 18.666666666666668vw;
    --mspacing80: 20.8vw;
    --mspacing100: 26.4vw;
    --mspacing120: 32vw;
    --mspacing150: 39.99999999999999vw;
    --mspacing300: 80vw;
}


.container1 {
    padding: 0 8.597883597883598vw;
    display: flex;
    justify-content: space-between;
    gap: 6.878306878306878vw;
    margin-top: 6.613756613756613vw;
    margin-bottom: var(--mspacing60);
    overflow-y: hidden;
    background: #121212;
}

.imgContainer1 {
    width: 44.642857142857146vw;
    height: 33.664021164021165vw;
    margin-top: 7.341269841269842vw;
    position: relative;
    z-index: 1;
}

.heroImg {
    width: 44.642857142857146vw;
    height: 33.664021164021165vw;
}

.bgBlur {
    position: absolute;
    width: 23.14814814814815vw;
    height: 23.14814814814815vw;
    background-color: #C8952E;
    filter: blur(480px);
    bottom: 0;
    left: 14vw;
    z-index: -1;
    rotate: 45deg;
}



.contents {
    width: 30.555555555555557vw;
    height: 32.870370370370374vw;
    margin-top: 3.3068783068783065vw;

    display: flex;
    flex-direction: column;
}

.humaxLogo {
    width: 15.939153439153438vw;
    height: 5.291005291005291vw;
    margin-bottom: 1.8518518518518516vw;
}

.textContent .desc1 {
    color: rgba(255, 255, 255, .6);
    margin-bottom: 2.1164021164021163vw;
    font-size: 1.5873015873015872vw;
    line-height: 1.8253968253968256vw;
}

.textContent h1 {
    font-size: 2.6455026455026456vw;
    line-height: 3.0423280423280423vw;
    margin-bottom: 0.5291005291005291vw;
}

.eventDetails {
    display: flex;
    flex-direction: column;
    gap: 1.0582010582010581vw;
    margin-bottom: 2.1164021164021163vw;
}

.event {
    display: flex;
    align-items: center;
    gap: 0.7936507936507936vw;
}

.eventIconContainer {
    width: 3.3068783068783065vw;
    height: 3.3068783068783065vw;
    border-radius: 3.3068783068783065vw;
    border: 1px solid #9E9E9E;

    display: flex;
    justify-content: center;
    align-items: center;
}

.eventIconContainer img {
    width: 1.3227513227513228vw;
    height: 1.3227513227513228vw;
}

@media only screen and (max-width: 767px) {
    .container1 {
        padding: var(--mspacing24);
        padding-top: var(--mspacing40);
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--mspacing30);
        /* margin-top: 6.613756613756613vw;
        margin-bottom: 13.227513227513226vw; */
        overflow-y: hidden;
        background: #121212;
        position: relative;
        z-index: 1;
    }

    .imgContainer1 {
        width: 87.2vw;
        height: 65.86666666666666vw;
        margin-top: 7.341269841269842vw;
        position: relative;
    }

    .heroImg {
        width: 87.2vw;
        height: 65.86666666666666vw;
    }

    .bgBlur {
        position: absolute;
        width: 23.14814814814815vw;
        height: 23.14814814814815vw;
        background-color: #C8952E;
        filter: blur(480px);
        bottom: 0;
        left: 14vw;
        z-index: -1;
        rotate: 45deg;
    }

    .contents {
        width: auto;
        height: auto;
        margin-top: calc(var(--spacing40) + var(--mspacing24));
        display: flex;
        flex-direction: column;
        order: -1;
    }

    .humaxLogo {
        width: 40vw;
        height: 13.333333333333334vw;
        margin-bottom: var(--mspacing24);
    }

    .humaxLogo img {
        width: 40vw;
        height: 13.333333333333334vw;
        margin-bottom: var(--mspacing24);
    }

    .textContent .desc1 {
        font-size: 3.733333333333334vw;
        font-weight: 400;
        line-height: 5.6000000000000005vw;
        color: rgba(255, 255, 255, 0.8);
        font-family: var(--font-OpenSans);
        font-feature-settings: "liga" 0;
    }

    .textContent h1 {
        font-size: 6.4vw;
        line-height: 7.359999999999999vw;
        margin-bottom: 0;
    }


    .eventDetails {
        display: flex;
        flex-direction: column;
        gap: var(--mspacing20);
        margin-bottom: var(--mspacing24);
        margin-top: var(--mspacing24);
        position: relative;
        z-index: 10;
    }

    .event {
        display: flex;
        align-items: center;
        gap: var(--mspacing8);
    }

    .anchorTag {
        cursor: none;
    }

    .anchorTag:nth-child(1) p {
        width: 41.06666666666667vw;
    }

    .anchorTag:nth-child(2) p {
        width: 51.2vw;
    }

    .anchorTag:nth-child(3) p {
        width: 36vw;
    }

    .eventIconContainer {
        width: var(--mspacing40);
        height: var(--mspacing40);
        border-radius: var(--mspacing40);
        border: 1px solid #9E9E9E;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .eventIconContainer img {
        width: var(--mspacing16);
        height: var(--mspacing16);
    }

    .bookTicket {
        cursor: none;
    }
}