/* @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --font-DmSans: "DM Sans", sans-serif;
  --font-OpenSans: "Open Sans", sans-serif;
  --font-Jakarta: "Plus Jakarta Sans", sans-serif;
  --containerPadding: 0 9.920634920634921vw;
  --containerMarginTop: 14.550264550264549vw;
  --backgroundContainerPadding: 6.510416666666667vw 9.765625vw;
  --mobileContainerMarginTop: 16vw;
  --mobileContainerPadding: 0 6.4vw;
  --mobileBackgroundContainerPadding: 10.666666666666668vw 6.4vw;
  --borderRadius: 0.6613756613756614vw;
  --mobileBorderRadius: 2.666666666666667vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  overflow-x: hidden;
  background-color: #000;
}

body::-webkit-scrollbar {
  width: 0rem;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

h1 {
  font-size: 4.232804232804233vw;
  font-weight: 500;
  line-height: 5.079365079365079vw;
  color: #fff;
  font-family: var(--font-DmSans);
  text-transform: capitalize;
}

h2 {
  font-size: 3.1746031746031744vw;
  font-weight: 500;
  line-height: 3.650793650793651vw;
  color: #fff;
  font-family: var(--font-DmSans);
  text-transform: capitalize;
  letter-spacing: 0.031746031746031744vw;
}

h3 {
  font-size: 1.5873015873015872vw;
  font-weight: 400;
  line-height: 2.380952380952381vw;
  color: #fff;
  font-family: var(--font-OpenSans);
  text-transform: capitalize;
}

h4 {
  font-size: 1.1904761904761905vw;
  font-weight: 400;
  line-height: 1.6666666666666667vw;
  color: #fff;
  font-family: var(--font-Jakarta);
  text-transform: capitalize;
}

p {
  font-size: 1.1904761904761905vw;
  font-weight: 400;
  line-height: 1.7857142857142856vw;
  color: rgba(255, 255, 255, 0.8);
  font-family: var(--font-OpenSans);
  font-feature-settings: "liga" 0;
}

span {
  color: #c8952e;
  text-transform: capitalize;
}

.buttonText {
  font-size: 1.1904761904761905vw;
  font-weight: 400;
  line-height: 1.6666666666666667vw;
  font-family: var(--font-OpenSans);
  font-feature-settings: "liga" 0;
}

.sectionTitleHr {
  height: 0.3306878306878307vw;
}

a {
  text-decoration: none;
  font-size: 1.1904761904761905vw;
  font-weight: 400;
  line-height: 1.9047619047619049vw;
  color: rgba(255, 255, 255, 0.8);
  font-family: var(--font-Jakarta);
  font-feature-settings: "liga" 0;
}

.linksText {
  font-weight: 400;
  color: #ffffff;
}

.active h4 {
  color: #c8952e;
  font-weight: 600;
}

.active {
  color: #c8952e;
  font-weight: 600;
}

.footerContent {
  font-size: 1.04vw;
  font-weight: 500;
}

.w-Auto {
  width: auto !important;
}

.whiteSpace {
  white-space: nowrap;
}

.btnContainer {
  height: 3.3203125vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 3.2552083333333335vw; */
  position: relative;
  overflow: hidden;
}

.btnFill .visibleWrapperContainer .bottomVisibleContainer h5 {
  color: white;
}

.btnFill .visibleWrapperContainer .bottomVisibleContainer img {
  filter: brightness(1000%);
}

.rightArrow {
  width: 1.3227513227513228vw !important;
  height: 1.3227513227513228vw !important;
  /* margin-bottom: 0.26455026455026454vw; */
}

.btnFill {
  transition: border-color 0.375s ease-out;
}

.btnFill:hover::before {
  transform: scaleX(1);
}

.btnFill:hover {
  border-color: transparent !important;
}

.btnFill::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: 100%;
  border-radius: 3.2552083333333335vw;
  background: #c8952e;
  transition: all 0.475s;
}

.visibleWrapperContainer {
  width: 100%;
  height: 90%;
  overflow: hidden;
  position: relative;
}

.topVisibleContainer,
.bottomVisibleContainer {
  position: absolute;
  top: 58%;
  left: 54%;
  transform: translate(-54%, -65%);
  transition: transform 0.5s ease !important;
  width: 100%;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.topVisibleContainer {
  transform: translate(-54%, -65%);
}
.bottomVisibleContainer {
  transform: translate(-54%, 250%);
}

.btnContainer:hover .topVisibleContainer {
  transform: translate(-54%, -250%);
}

.btnContainer:hover .bottomVisibleContainer {
  transform: translate(-54%, -65%);
}

.listHoverTop,
.listBottomHover {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-0%, -0%);
  transition: transform 0.6s ease;
}

.listHoverTop {
  transform: translate(0%, -0%);
}

.listHoverBottom {
  transition: transform 0.6s ease;
  transform: translate(0%, 250%);
}

.visibleWrapperContainer:hover .listHoverTop {
  transform: translate(0%, -250%);
}

.visibleWrapperContainer:hover .listHoverBottom {
  transform: translate(0%, 0%);
}

/* Header Start */

.mHeader {
  display: none;
}

.hContainer {
  display: flex;
  width: 100%;
  height: 6.613756613756613vw;
  align-items: center;
  background: #121212;
  justify-content: space-between;
  padding: var(--containerPadding);
  position: relative;
  position: fixed;
  top: 0;
  z-index: 11;
  transition: all 0.3s ease;
}

.hContainer .headerLine {
  display: none;
}

.headerLine {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1px;
  background: rgba(255, 255, 255, 0.6);
  width: 86.77248677248677vw;
}

.logoContainer {
  margin-right: 8.138020833333332vw;
}

.logoContainer img {
  width: 14.053571428571429vw;
  height: 1.5648148148148147vw;
}

.hMenu {
  display: flex;
  gap: 4vw;
}

.hMenu .btnContainer {
  margin-top: 5.333333333333334vw;
}

/* Header End */

/* Hero Start */

.heroContianer {
  position: relative;
  width: 100vw;
  height: 46.2962962962963vw;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 0 7.2751322751322745vw 0 9.920634920634921vw;
  background: #121212;

  height: auto;
  padding: 1.984126984126984vw 9.920634920634921vw 6.613756613756613vw
    9.920634920634921vw;
  padding-bottom: 0;
  margin-top: 6.613756613756613vw;
}

.heroContianer .hImage {
  width: 31.878306878306876vw;
  height: 43.25396825396825vw;
  align-self: flex-end;
}

.e3GloabalImg {
  width: 16.203703703703702vw;
  height: 3.968253968253968vw;
  margin-top: 1.5873015873015872vw;
}

.heroContent {
  width: 40.67460317460318vw;
  align-self: center;
}

.heroContent h1 {
  position: relative;
}

.tradeMark {
  position: absolute;
  bottom: 1.1904761904761905vw;
  right: 4.497354497354497vw;
}

.tradeMark span {
  font-size: 1.3227513227513228vw;
  color: #fff;
}

/* Hero end */

/* Container2 Start */

.container2 {
  padding: var(--containerPadding);
  margin-top: 9.920634920634921vw;
}

.container2 .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6.15079365079365vw;
}

.container2 .title h2 {
  width: 32.076719576719576vw;
}

.container2 .title p {
  width: 31.746031746031743vw;
}

.cardsContainer {
  display: grid;
  grid-template-columns: 24.933862433862434vw 24.933862433862434vw 24.933862433862434vw;

  gap: 2.6455026455026456vw;
}

.aboutPageCards {
  display: grid;
  grid-template-columns: 18.584656084656086vw 18.584656084656086vw 18.584656084656086vw 18.584656084656086vw;

  gap: 2.6455026455026456vw;
}

.cardContainer {
  padding: 1.984126984126984vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #121212;
  text-align: center;
}

.cardIcon {
  width: 4.62962962962963vw;
  height: 4.62962962962963vw;
  margin-bottom: 1.3227513227513228vw;
}

/* Container2 end */

/* Container3 Start */

.container3 {
  margin-top: var(--containerMarginTop);
  padding: 0 13.227513227513226vw;

  display: flex;
  gap: 4.62962962962963vw;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.container3Bg {
  position: absolute;
  width: 100vw;
  height: 39.682539682539684vw;
  bottom: 0;
  left: 0;
  background: #121212;
  z-index: -1;
}

.container3Image {
  width: 35.78042328042328vw;
  height: 43.386243386243386vw;
  border-radius: var(--borderRadius);
}

.container3Contents {
  width: 31.746031746031743vw;
}

/* Container3 end */

/* Container4 Start */

.container4 {
  margin-top: var(--containerMarginTop);
  padding: var(--containerPadding);
  overflow: hidden;
}

.topContainer4 {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 99;
  margin-bottom: 4.62962962962963vw;
}

.carouselButtonContainer {
  display: flex;
  gap: 1.3227513227513228vw;
}

.carouselButtonContainerLeft,
.carouselButtonContainerRight {
  width: 3.968253968253968vw;
  height: 3.968253968253968vw;
  background-color: transparent;
  border: 0.5px solid white;
  border-radius: 1.3227513227513228vw;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3.2552083333333335vw;
  cursor: pointer;
}

.arrow {
  height: 1.1904761904761905vw;
  filter: brightness(1000%);
}

.container4Cards {
  display: flex;
  gap: 2.6455026455026456vw;
}

.container4Card {
  width: 24.933862433862434vw;
  height: 35.25132275132275vw;
  background-color: #121212;
  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
}

.container4imgContainer {
  width: 24.933862433862434vw;
  height: 16.534391534391535vw;
  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
  overflow: hidden;
}

.container4imgContainer img:hover {
  transform: scale(1.1);
}

.container4Card img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.container4CardContent {
  padding: 1.984126984126984vw;
}

/* Container4 end */

/* Container5 Start */

.container5 {
  padding: var(--containerPadding);
}

.container5Contents {
  width: 33.92857142857143vw;
}

.container5Image {
  width: 38.095238095238095vw;
  height: 38.095238095238095vw;
}

/* Container5 End */

/* Container6 end */

.container6 {
  width: 100vw;
  height: 49.93386243386244vw;
  position: relative;
  margin-top: var(--containerMarginTop);
  padding: var(--containerPadding);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videoContainer {
  width: 53.70370370370371vw;
  height: 31.01851851851852vw;
  position: relative;
}

.container6img {
  border-radius: 0;
}

.playButtonContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5.952380952380952vw;
}

.playButtonContainer img {
  width: 5.952380952380952vw !important;
  height: 5.952380952380952vw !important;
}

.videoContainer img {
  width: 53.70370370370371vw;
  height: 31.01851851851852vw;
}

.container6Contents {
  display: flex;
  margin-top: 4.62962962962963vw;
  margin-bottom: 6.613756613756613vw;
  gap: 9.788359788359788vw;
  align-items: center;
}

.videoContainerBackground {
  position: absolute;
  width: 100vw;
  height: 34.39153439153439vw;
  background-color: #121212;
  z-index: -1;
  bottom: 0;
}

/* Container6 end */

/* Container7 Start */

.container7Card {
  height: 26.455026455026452vw;
}

.container7Card .container4imgContainer {
  height: 26.455026455026452vw;
  border-radius: var(--borderRadius);
}

/* Container7 end */

/* Container8 Start */

.container8 {
  display: none;
}

.container8 {
  margin-top: var(--containerMarginTop);
  padding: var(--containerPadding);
}

.container8Cards {
  display: flex;
  gap: 2.6455026455026456vw;
  margin-top: 4.62962962962963vw;
}

.container8Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #121212;
  padding: 2.6455026455026456vw 1.984126984126984vw 5.291005291005291vw
    1.984126984126984vw;

  width: 24.933862433862434vw;
  height: 33.99470899470899vw;
  border-radius: var(--borderRadius);
}

/* Container8 end */

/* Container9 Start */

.container9 {
  margin-top: var(--containerMarginTop);
  padding: var(--containerPadding);
}

.faqContainer {
  display: grid;
  grid-template-columns: 25vw 52.51322751322751vw;
  gap: 2.6455026455026456vw;
}

.firstCol {
  width: 21.825396825396826vw;
}

.secondCol {
  display: flex;
  flex-direction: column;
}

.faqDataCard {
  display: flex;
  gap: 1.984126984126984vw;
  padding: 1.984126984126984vw 0;
  border-top: 0.5px solid #2d2d2d;
  border-bottom: 0.5px solid #2d2d2d;
}

.questionAnswerContainer {
  display: flex;
  flex-direction: column;
  gap: calc(1.984126984126984vw / 2);
}

.questionContainer {
  display: flex;
  justify-content: space-between;
}

.plussIcon {
  width: 1.3227513227513228vw;
  height: 1.3227513227513228vw;
  margin-right: 1.0582010582010581vw;
  position: relative;
}

.plussIcon img {
  position: absolute;
  width: 1.3227513227513228vw;
  height: 1.3227513227513228vw;
}

.answerContainer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.answerContainer.visible {
  max-height: 200px;
}

/* Container9 end */

/* Testimonial Start */

.testimonialContainer {
  margin-top: var(--containerMarginTop);
  /* padding: var(--containerPadding); */
  position: relative;
  overflow: hidden;
}

.testimonialCardsandIndicator {
  height: auto;
}

.testimonialCards {
  display: flex;
  gap: 1.984126984126984vw;
  justify-content: flex-start;
  padding-bottom: 3.968253968253968vw;
  margin-top: 4.62962962962963vw;
  width: 22200vw;
  overflow: hidden;
  padding: var(--containerPadding);
}

.testimonialCards::-webkit-scrollbar {
  width: 0;
}

.testimonialTitle {
  display: flex;
  justify-content: space-between;
  padding: var(--containerPadding);
}

.testimonialTitle h2 {
  width: 37vw;
}

.testimonialCard img {
  margin-bottom: 0;
}

.testimonialTitle p {
  width: 31.746031746031743vw;
}

.testimonialCard {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2.6455026455026456vw 1.984126984126984vw 4.166666666666666vw
    1.984126984126984vw;

  background-color: #121212;
  width: 29.761904761904763vw;
  height: auto;
}

.testimonialCard::-webkit-scrollbar {
  width: 0;
}

.headingAndImage {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 1.3227513227513228vw;
  margin-bottom: 1.3227513227513228vw;
}

.testimonialCard img {
  width: 4.62962962962963vw;
  height: 4.62962962962963vw;
  border-radius: 4.62962962962963vw;
  object-fit: cover;
  object-position: top;
}

.testimonialCard p {
  height: auto;
}

.comapnyAndDesignation {
  width: auto !important;
  height: auto !important;
  padding-top: 0;
}

.dotsContainer {
  display: flex;
  gap: 0.6613756613756614vw;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  width: 0.992063492063492vw;
  height: 0.992063492063492vw;
  background-color: #121212;
  border-radius: 50%;
  cursor: pointer;
}

.activeDot {
  width: 0.992063492063492vw;
  height: 0.992063492063492vw;
  transform: scale(1.2);
  background-color: #c8952e;
  border-radius: 10px;
  cursor: pointer;
  transform: scale(1.3);
  transition: transform 0.8s ease, background-color 0.8s ease;
}

/* Testimonial end */

/* Brands Start */

.brands {
  margin-top: 6.613756613756613vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.brandsHeading {
  font-size: 1.5873015873015872vw;
  font-weight: 500;
  color: #c8952e;
  margin-bottom: 2.6455026455026456vw;
}

.clientsImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.scrolling-logos {
  display: flex;
  align-items: center;
  position: relative;
  white-space: nowrap;
  gap: 75px;
  /* animation-timing-function: linear;
  transition: transform 0.8s ease; */
}

.logoClients {
  height: 60px !important;
  display: inline-block;
}
/* Brands End */

/* Contact Start */

.contactContainer {
  margin-top: var(--containerMarginTop);
}

.contactContainer hr {
  width: 80.15873015873017vw;
  margin: 0 auto;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  height: 0.06613756613756613vw;
}

.contactContentContainer {
  padding: 6.613756613756613vw 9.920634920634921vw 4.62962962962963vw
    9.920634920634921vw;
  height: 18.51851851851852vw;
  background: #121212;
  border-radius: var(--borderRadius);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contactContentContainer h2 {
  font-size: 3.1746031746031744vw;
  line-height: 3.650793650793651vw;
  font-weight: 700;
}

/* Contact end */

/* Footer Start */

.footerContainer {
  /* margin-top: var(--containerMarginTop); */
  padding: 3.968253968253968vw 9.920634920634921vw 3.968253968253968vw
    9.920634920634921vw;
  background: #121212;
  border-radius: var(--borderRadius);

  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.footerLogo {
  width: 35vw;
}

.footerLogo img {
  width: 14.02116402116402vw;
  height: 1.5649470899470899vw;
  margin-bottom: 1.984126984126984vw;
}

.social {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  align-items: flex-start;
}

.social h3 {
  margin-bottom: 1.984126984126984vw;
}

.socialIcons {
  display: flex;
  gap: 1.3227513227513228vw;
}

.socialIcons img {
  width: 3.3068783068783065vw;
  height: 3.3068783068783065vw;
}

.socialIcons img:hover {
  border-radius: 50%;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
}

.copyRight {
  grid-column: 1/5;
  background: #c8952e;
  height: 4.497354497354497vw;
  display: flex;
  align-items: center;
}

.copyRight p,
.copyRight a {
  margin: auto !important;
  text-align: center;
}

.quickLinks {
  display: flex;
  flex-direction: column;
  gap: 0.6613756613756614vw;
}

.quickLinks a {
  position: relative;
  padding-bottom: 0.3306878306878307vw;
}

.quickLinks a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 100%
  );
  transition: width 0.3s ease;
}

.quickLinks a:hover::before {
  width: 100%;
}

/* Footer end */

@media only screen and (max-width: 767px) {
  body {
    background-color: #000;
  }

  h1 {
    font-size: 8.533333333333333vw;
    font-weight: 700;
    line-height: 9.813333333333333vw;
    color: #fff;
    font-family: var(--font-DmSans);
    text-transform: capitalize;
  }

  h2 {
    font-size: 6.4vw;
    font-weight: 700;
    line-height: 7.359999999999999vw;
    color: #fff;
    font-family: var(--font-Jakarta);
    text-transform: capitalize;
    padding-bottom: 2.666666666666667vw !important;
    margin: 0;
    letter-spacing: 0.064vw;
  }

  h3 {
    font-size: 4.8vw;
    font-weight: 400;
    line-height: 5.973333333333334vw;
    color: #fff;
    font-family: var(--font-Jakarta);
    text-transform: capitalize;
  }

  h4 {
    font-size: 1.1904761904761905vw;
    font-weight: 400;
    line-height: 1.6666666666666667vw;
    color: #fff;
    font-family: var(--font-Jakarta);
    text-transform: capitalize;
  }

  p {
    font-size: 3.733333333333334vw;
    font-weight: 400;
    line-height: 5.6000000000000005vw;
    color: rgba(255, 255, 255, 0.8);
    font-family: var(--font-OpenSans);
    font-feature-settings: "liga" 0;
  }

  a {
    font-size: 3.733333333333334vw;
    font-weight: 400;
    line-height: 5.973333333333334vw;
    color: rgba(255, 255, 255, 0.8);
    font-family: var(--font-Jakarta);
    font-feature-settings: "liga" 0;
  }

  span {
    color: #c8952e;
    text-transform: capitalize;
  }

  .sectionTitleHr {
    height: 1.3333333333333335vw;
  }

  .buttonText {
    font-size: 3.733333333333334vw;
    font-weight: 400;
    line-height: 5.226666666666667vw;
    font-family: var(--font-Jakarta);
    font-feature-settings: "liga" 0;
  }

  .rightArrow {
    width: 3.3333333333333335vw !important;
    height: 2.666666666666667vw !important;
  }

  .hContainer {
    display: none;
  }

  .mHeader {
    display: flex;
    padding: var(--mobileContainerPadding);
    height: 21.333333333333336vw;
    align-items: center;
  }

  .bar {
    position: absolute;
    height: 2px;
    width: 100%;
    background: #4a4a4a;
    transition: transform 0.3s ease;
    display: block;
  }

  .bar:nth-child(1) {
    top: 0;
    left: 0;
  }

  .bar:nth-child(2) {
    bottom: 0;
    left: 0;
  }

  .open .bar:nth-child(1) {
    top: 12px;
    transform: rotate(45deg);
  }

  .open .bar:nth-child(2) {
    transform: rotate(-45deg);
    bottom: 0px;
  }

  .fixedmHeadContainer {
    width: 100%;
  }

  .mHeader button {
    width: 2.2rem;
    height: 14px;
    background: transparent;
  }

  .hMenu {
    flex-direction: column;
    align-items: center;
  }

  .hMenu h4 {
    font-size: 3.733333333333334vw;
    font-weight: 500;
  }

  .btnContainer {
    width: 36.242666666666665vw !important;
    height: 10.666666666666668vw !important;
    /* border-radius: 13.333333333333334vw; */
  }

  .heroContianer {
    padding: var(--mobileContainerPadding);
    margin-top: 21.333333333333336vw;
    flex-direction: column;
    height: calc(221.39999999999998vw - 21.333333333333336vw);
    background: #0d0d0d;
    padding-bottom: 0;
  }

  .heroContianer .hImage {
    width: 81.86666666666666vw;
    height: 106.66666666666667vw;
    align-self: center;
  }

  .e3GloabalImg {
    width: 43.46666666666666vw;
    height: 10.666666666666668vw;
  }

  .hImage {
    margin-top: 8vw;
  }

  .heroContent {
    width: auto;
    margin-top: 13.333333333333334vw;
  }

  .heroContent p {
    margin: 2.666666666666667vw 0 4vw 0 !important;
    width: auto !important;
    margin: 0;
  }

  .tradeMark {
    position: absolute;
    bottom: 1.9904761904761905vw;
    right: 7.8vw;
  }

  .tradeMark span {
    font-size: 3.733333333333334vw;
    font-weight: 400;
  }

  /* Container 2 */

  .container2 {
    margin-top: 13.333333333333334vw;
    padding: var(--mobileContainerPadding);
  }

  .container2 .title {
    flex-direction: column;
    align-items: flex-start;
  }

  .container2 .title h2 {
    width: 75vw;
  }

  .container2 .title p {
    width: auto;
    margin-top: 4vw;
  }

  .cardsContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 8vw;
    gap: 5.333333333333334vw;
  }

  .cardContainer {
    padding: 5.333333333333334vw;
    /* border-radius: var(--mobileBorderRadius); */
  }

  .cardIcon {
    width: 13.333333333333334vw;
    height: 13.333333333333334vw;
    margin-bottom: 4vw;
  }

  /* container3 */

  .container3 {
    flex-direction: column;
    padding: var(--mobileContainerPadding);
    padding-top: 10.666666666666668vw;
    margin-top: 13.333333333333334vw;
    align-items: flex-start;
    gap: 0;
  }

  .container3Bg {
    height: 100%;
  }

  .container3Contents {
    width: auto;
    order: -1;
  }

  .container3 img {
    margin: 0 auto;
    height: 92.80000000000001vw;
    width: 76.53333333333333vw;
    margin-top: 8vw;
  }

  .container3 .rightArrow {
    margin: 0;
  }

  .container3Contents p {
    width: 87.2vw !important;
    text-transform: none;
    margin: 2.666666666666667vw 0 4vw 0;
  }

  /* container4 */

  .container4 {
    margin-top: var(--mobileContainerMarginTop);
    padding: var(--mobileContainerPadding);
  }

  .carouselButtonContainer {
    display: none;
    width: 0;
  }

  .topContainer4 {
    width: 100vw;
    justify-content: center;
  }

  .topContainer4 h2 {
    width: 64vw !important;
  }

  .container4Cards {
    overflow-y: hidden;
    overflow-x: scroll;
    gap: 4vw;
    margin-top: 8vw;
  }

  .container4Cards::-webkit-scrollbar {
    width: 0;
  }

  .container4Card {
    width: 66.66666666666666vw;
    height: 93.33333333333333vw;
    border-bottom-left-radius: var(--mobileBorderRadius);
    border-bottom-right-radius: var(--mobileBorderRadius);
  }

  .container4imgContainer {
    width: 66.66666666666666vw;
    height: 42.66666666666667vw;
  }

  .container4Card img {
    width: 100%;
    height: 100%;
    border-top-left-radius: var(--mobileBorderRadius);
    border-top-right-radius: var(--mobileBorderRadius);
  }

  .container4CardContent {
    padding: 5.333333333333334vw 4vw 0 4vw;
  }

  .container4CardContent p {
    margin-top: 1.3333333333333335vw;
    width: 58.666666666666664vw !important;
    font-size: 3.2vw;
    line-height: 5.119999999999999vw;
    padding-bottom: 5.333333333333334vw;
  }

  .container4 .btnContainer {
    margin-top: 8vw !important;
  }

  /* .container5 */

  .container5 {
    padding: var(--mobileContainerPadding);
    margin-top: var(--mobileContainerMarginTop);
    gap: 0;
  }

  .container5 .container3Contents {
    order: 1;
  }

  .container5 .container5Image {
    width: 87.2vw;
    height: 87.2vw;
    margin-bottom: 8vw;
  }

  .container5 .container3Contents h2 {
    width: 69.06666666666666vw !important;
  }

  .container5 .container3Contents p {
    margin-top: 4vw !important;
  }

  .container5 .btnContainer {
    display: none;
  }

  /* container6 */

  .container6 {
    padding: var(--mobileContainerPadding);
    margin-top: var(--mobileContainerMarginTop);
    height: 100%;
  }

  .videoContainer {
    width: 87.2vw;
    height: 50.3656vw;
  }

  .videoContainer img {
    width: 87.2vw;
    height: 50.3656vw;
  }

  .videoContainerBackground {
    height: 85vw;
  }

  .container6Contents {
    flex-direction: column;
    gap: 0;
    margin-top: 4vw;
  }

  .container6Contents h2 {
    width: 85.86666666666667vw !important;
  }

  .container6Contents p {
    width: 87.2vw !important;
    margin-top: 4vw;
  }

  /* container7 */

  .container7 {
    margin-top: var(--mobileContainerMarginTop);
    padding: var(--mobileContainerPadding);
  }

  .container7 .topContainer4 {
    width: auto;
  }

  .container7 h2 {
    width: 64vw !important;
    text-align: center !important;
  }

  .container7Card {
    width: 66.66666666666666vw;
    height: 70.73386666666667vw;
  }

  .container7Card .container4imgContainer {
    width: 66.66666666666666vw;
    height: 70.73386666666667vw;
    border-radius: var(--mobileBorderRadius);
  }

  /* Testimonial */

  .testimonialContainer {
    margin-top: var(--mobileContainerMarginTop);
    padding: var(--mobileContainerPadding);
  }

  .testimonialTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
  }

  .testimonialTitle h2 {
    width: auto;
  }

  .testimonialProfile h3 {
    font-size: 3.733333333333334vw;
  }

  .testimonialTitle p {
    width: auto;
    margin-top: 4vw;
  }

  .testimonialCardsandIndicator {
    height: auto;
    overflow: hidden;
  }

  .headingAndImage {
    gap: 4vw;
  }

  .testimonialCards {
    overflow: scroll;
    padding: 0;
    margin-top: 8vw;
    gap: 4vw;
    justify-content: flex-start;
    width: 100%;
  }

  .testimonialCard {
    width: 87.2vw;
    height: 86.66666666666667vw;
    padding: 5.333333333333334vw;
  }

  .testimonialCard img {
    width: 13.333333333333334vw;
    height: 13.333333333333334vw;
    border-radius: 13.333333333333334vw;
    margin-bottom: 0;
  }

  .testimonialCard p {
    padding-top: 1.3333333333333335vw;
    width: 56.00000000000001vw;
    height: 57.333333333333336vw;
    text-align: left !important;
    font-size: 3.733333333333334vw;
    line-height: 5.6000000000000005vw;
  }

  .comapnyAndDesignation {
    padding-top: 0 !important;
    line-height: 3vw;
  }

  .dotsContainer {
    display: none;
  }

  /* container9 */

  .container9 {
    padding: var(--mobileContainerPadding);
    margin-top: var(--mobileContainerMarginTop);
  }

  .faqContainer {
    grid-template-columns: 1fr;
    gap: 8vw;
  }

  .firstCol {
    display: flex;
    justify-content: flex-start;
    width: auto;
  }

  .firstCol h2 {
    width: auto !important;
  }

  .faqDataCard {
    padding: 4vw 0;
    gap: 2.666666666666667vw;
  }

  .questionContainer h3 {
    width: 72.53333333333333vw !important;
  }

  .plussIcon {
    width: 4vw;
    height: 4vw;
    position: relative;
  }

  .plussIcon img {
    width: 4vw;
    height: 4vw;
    position: absolute;
  }

  .answerContainer p {
    width: 72.53333333333333vw !important;
    margin-top: 1.3333333333333335vw;
  }

  /* brands */

  .brands {
    overflow: hidden;
    margin-top: 13.333333333333334vw;
  }

  .brandsHeading {
    font-size: 4.8vw;
  }

  .scrolling-logos {
    margin-top: 3.4666666666666663vw;
    gap: 10.666666666666668vw;
  }

  /* contact */

  .contactContainer {
    margin-top: var(--mobileContainerMarginTop);
    margin-bottom: 0;
  }

  .contactContainer hr {
    width: 87.2vw;
    height: 0.26666666666666666vw;
  }

  .contactContentContainer {
    padding: var(--mobileContainerPadding);
    flex-direction: column;
    width: auto;
    height: 49.86666666666667vw;
    border-radius: var(--mobileBorderRadius);
    justify-content: normal;
    align-items: normal;

    padding-top: 10.666666666666668vw;
  }

  .contactContentContainer h2 {
    width: auto !important;
    font-size: 6.4vw;
    line-height: 7.359999999999999vw;
    margin-bottom: 0;
  }

  /* footer */

  .footerContainer {
    /* margin-top: var(--mobileContainerMarginTop); */
    padding: var(--mobileContainerPadding);
    width: 100vw;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 40vw 40vw;
    gap: 8vw;
    padding-bottom: 8vw;
  }

  .footerLogo {
    grid-column: 1/3;
    grid-row: 1/1;
    width: 80vw;
    margin-top: 10.666666666666668vw;
  }

  .footerLogo img {
    width: 34vw;
    height: 4vw;
  }

  .footerLogo p {
    width: 87.2vw !important;
  }

  .quickLinks {
    width: 30.933333333333334vw;

    display: flex;
    flex-direction: column;
    gap: 4vw;
  }

  .social {
    width: 30.933333333333334vw;
  }

  .socialIcons {
    flex-wrap: wrap;
    gap: 2.5vw;
  }

  .social img {
    margin-top: 2.666666666666667vw;
    width: 8vw;
    height: 8vw;
  }

  .copyRight {
    height: 12.8vw;
    align-items: center;
    justify-content: center;
    /* margin-top: 8vw; */
  }

  .copyRight p {
    font-size: 3.733333333333334vw;
    margin: 0 !important;
    text-align: left !important;
    line-height: normal;
    padding: var(--mobileContainerPadding);
  }
}
