@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500&display=swap");

:root {
  --font-Jakarta: "Plus Jakarta Sans", sans-serif;
  --containerPadding: 0 9.920634920634921vw;
  --containerMarginTop: 9.920634920634921vw;
  --backgroundContainerPadding: 6.510416666666667vw 9.765625vw;
  --mobileContainerMarginTop: 16vw;
  --mobileContainerPadding: 0 6.4vw;
  --mobileBackgroundContainerPadding: 10.666666666666668vw 6.4vw;
  --borderRadius: 0.6613756613756614vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  overflow-x: hidden;
  background-color: #1e1e1e;
}

body::-webkit-scrollbar {
  width: 0rem;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

h1 {
  font-size: 4.232804232804233vw;
  font-weight: 500;
  line-height: 5.079365079365079vw;
  color: #fff;
  font-family: var(--font-Jakarta);
  text-transform: capitalize;
}

h2 {
  font-size: 3.1746031746031744vw;
  font-weight: 500;
  line-height: 3.8095238095238098vw;
  color: #fff;
  font-family: var(--font-Jakarta);
  text-transform: capitalize;
}

h3 {
  font-size: 1.5873015873015872vw;
  font-weight: 400;
  line-height: 2.03125vw;
  color: #fff;
  font-family: var(--font-Jakarta);
  text-transform: capitalize;
}

h4 {
  font-size: 1.1904761904761905vw;
  font-weight: 400;
  line-height: 1.6666666666666667vw;
  color: #fff;
  font-family: var(--font-Jakarta);
  text-transform: capitalize;
}

p {
  font-size: 1.1904761904761905vw;
  font-weight: 400;
  line-height: 1.9047619047619049vw;
  color: rgba(255, 255, 255, 0.8);
  font-family: var(--font-Jakarta);
  font-feature-settings: "liga" 0;
  text-transform: capitalize;
}

span {
  color: #96202a;
  text-transform: capitalize;
}

.buttonText {
  font-size: 1.1904761904761905vw;
  font-weight: 400;
  line-height: 1.6666666666666667vw;
  font-family: var(--font-Jakarta);
  font-feature-settings: "liga" 0;
}

a {
}

.linksText {
  font-weight: 400;
}

.active h4 {
  color: #96202a;
  font-weight: 600;
}

.active {
  color: #5a1e90;
  font-weight: 600;
}

.footerContent {
  font-size: 1.04vw;
  font-weight: 500;
}

.w-Auto {
  width: auto !important;
}

.whiteSpace {
  white-space: nowrap;
}

.btnContainer {
  height: 3.3203125vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3.2552083333333335vw;
  position: relative;
  overflow: hidden;
}

.btnFill .visibleWrapperContainer .bottomVisibleContainer h5 {
  color: white;
}

.btnFill .visibleWrapperContainer .bottomVisibleContainer img {
  filter: brightness(1000%);
}

.rightArrow {
  width: 1.3227513227513228vw !important;
  height: 1.3227513227513228vw !important;
  margin-bottom: 0.26455026455026454vw;
}

.btnFill {
  transition: border-color 0.375s ease-out;
}

.btnFill:hover::before {
  transform: scaleX(1);
}

.btnFill:hover {
  border-color: transparent !important;
}

.btnFill::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: 100%;
  border-radius: 3.2552083333333335vw;
  background: #96202a;
  transition: all 0.475s;
}

.visibleWrapperContainer {
  width: 100%;
  height: 90%;
  overflow: hidden;
  position: relative;
}

.topVisibleContainer,
.bottomVisibleContainer {
  position: absolute;
  top: 58%;
  left: 54%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease !important;
  width: 100%;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.topVisibleContainer {
  transform: translate(-50%, -50%);
}
.bottomVisibleContainer {
  transform: translate(-50%, 250%);
}

.btnContainer:hover .topVisibleContainer {
  transform: translate(-50%, -250%);
}

.btnContainer:hover .bottomVisibleContainer {
  transform: translate(-50%, -50%);
}

.listHoverTop,
.listBottomHover {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-0%, -0%);
  transition: transform 0.6s ease;
}

.listHoverTop {
  transform: translate(0%, -0%);
}

.listHoverBottom {
  transition: transform 0.6s ease;
  transform: translate(0%, 250%);
}

.visibleWrapperContainer:hover .listHoverTop {
  transform: translate(0%, -250%);
}

.visibleWrapperContainer:hover .listHoverBottom {
  transform: translate(0%, 0%);
}

/* Header Start */

.mHeader {
  display: none;
}

.hContainer {
  display: flex;
  width: 100%;
  height: 6.613756613756613vw;
  align-items: center;
  background: #181818;
  justify-content: space-between;
  padding: var(--containerPadding);
  position: relative;
}

.headerLine {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1px;
  background: rgba(255, 255, 255, 0.6);
  width: 86.77248677248677vw;
}

.logoContainer {
  margin-right: 8.138020833333332vw;
}

.logoContainer img {
  width: 14.053571428571429vw;
  height: 1.5648148148148147vw;
}

.hMenu {
  display: flex;
  gap: 1.953125vw;
}

/* Header End */

/* Hero Start */

.heroContianer {
  position: relative;
  width: 100vw;
  height: 46.2962962962963vw;
  overflow: hidden;
  display: flex;
  padding: 0 7.2751322751322745vw 0 9.920634920634921vw;
  background: #181818;
}

.heroContianer img {
  width: 44.24603174603175vw;
  height: 40.145502645502646vw;
  align-self: flex-end;
}

.heroContent {
  width: 40.67460317460318vw;
  align-self: center;
}

.heroTitle {
  text-transform: none;
}

/* Hero end */

/* Container2 Start */

.container2 {
  padding: var(--containerPadding);
  margin-top: 7.936507936507936vw;
}

.cardsContainer {
  display: grid;
  grid-template-columns: 24.933862433862434vw 24.933862433862434vw 24.933862433862434vw;

  gap: 2.6455026455026456vw;
}

.cardContainer {
  padding: 1.984126984126984vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #181818;
  border-radius: var(--borderRadius);
  text-align: center;
}

.cardIcon {
  width: 4.62962962962963vw;
  height: 4.62962962962963vw;
  margin-bottom: 1.3227513227513228vw;
}

/* Container2 end */

/* Container3 Start */

.container3 {
  margin-top: var(--containerMarginTop);
  padding: var(--containerPadding);

  display: flex;
  gap: 4.62962962962963vw;
  align-items: center;
}

.container3Image {
  width: 38.095238095238095vw;
  height: 38.095238095238095vw;
  border-radius: var(--borderRadius);
}

/* Container3 end */

/* Container4 Start */

.container4 {
  margin-top: var(--containerMarginTop);
  padding: var(--containerPadding);
  overflow: hidden;
}

.topContainer4 {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 99;
  margin-bottom: 4.62962962962963vw;
}

.carouselButtonContainer {
  display: flex;
  gap: 1.3227513227513228vw;
}

.carouselButtonContainerLeft,
.carouselButtonContainerRight {
  width: 3.968253968253968vw;
  height: 3.968253968253968vw;
  background-color: transparent;
  border: 0.5px solid white;
  border-radius: 1.3227513227513228vw;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3.2552083333333335vw;
  cursor: pointer;
}

.arrow {
  height: 1.1904761904761905vw;
  filter: brightness(1000%);
}

.container4Cards {
  display: flex;
  gap: 2.6455026455026456vw;
}

.container4Card {
  width: 24.933862433862434vw;
}

.container4Card img {
  width: 24.933862433862434vw;
  height: 16.534391534391535vw;
  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
}

.container4CardContent {
  background-color: #181818;
  padding: 1.984126984126984vw;
  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
}

/* Container4 end */

/* Container6 end */

.container6 {
  width: 100vw;
  height: 49.93386243386244vw;
  position: relative;
  margin-top: var(--containerMarginTop);
  padding: var(--containerPadding);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videoContainer {
  width: 53.70370370370371vw;
  height: 31.01851851851852vw;
  position: relative;
}

.playButtonContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5.952380952380952vw;
}

.playButtonContainer img {
  width: 5.952380952380952vw !important;
  height: 5.952380952380952vw !important;
}

.videoContainer img {
  width: 53.70370370370371vw;
  height: 31.01851851851852vw;
}

.container6Contents {
  display: flex;
  margin-top: 4.62962962962963vw;
  margin-bottom: 6.613756613756613vw;
  gap: 9.788359788359788vw;
  align-items: center;
}

.videoContainerBackground {
  position: absolute;
  width: 100vw;
  height: 34.39153439153439vw;
  background-color: #181818;
  z-index: -1;
  bottom: 0;
}

/* Container6 end */

/* Container7 Start */

.container7Card img {
  height: 26.455026455026452vw;
  border-radius: var(--borderRadius);
}

/* Container7 end */

/* Container8 Start */

.container8 {
  margin-top: var(--containerMarginTop);
  padding: var(--containerPadding);
}

.container8Cards {
  display: flex;
  gap: 2.6455026455026456vw;
  margin-top: 4.62962962962963vw;
}

.container8Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #181818;
  padding: 2.6455026455026456vw 1.984126984126984vw 5.291005291005291vw
    1.984126984126984vw;

  width: 24.933862433862434vw;
  height: 33.99470899470899vw;
  border-radius: var(--borderRadius);
}

/* Container8 end */

/* Container9 Start */

.container9 {
  margin-top: var(--containerMarginTop);
  padding: var(--containerPadding);
}

.faqContainer {
  display: grid;
  grid-template-columns: 25vw 52.51322751322751vw;
  gap: 2.6455026455026456vw;
}

.firstCol {
}

.secondCol {
  display: flex;
  flex-direction: column;
}

.faqDataCard {
  display: flex;
  gap: 1.984126984126984vw;
  padding: 1.984126984126984vw 0;
  border-top: 0.5px solid #2d2d2d;
  border-bottom: 0.5px solid #2d2d2d;
}

.questionAnswerContainer {
  display: flex;
  flex-direction: column;
  gap: calc(1.984126984126984vw / 2);
}

.questionContainer {
  display: flex;
  justify-content: space-between;
}

.plussIcon {
  width: 1.3227513227513228vw;
  height: 1.3227513227513228vw;
  margin-right: 1.0582010582010581vw;
}

.plussIcon img {
  width: 1.3227513227513228vw;
  height: 1.3227513227513228vw;
}

.answerContainer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.answerContainer.visible {
  max-height: 200px;
}

/* Container9 end */

/* Contact Start */

.contactContainer {
  margin-top: var(--containerMarginTop);
  padding: var(--containerPadding);
}

.contactContentContainer {
  width: 80.15873015873017vw;
  height: 21.23015873015873vw;
  background: #181818;
  border-radius: var(--borderRadius);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactContentContainer h2 {
  font-size: 2.6455026455026456vw;
}

/* Contact end */

/* Footer Start */

.footerContainer {
  margin-top: var(--containerMarginTop);
  padding: 6.613756613756613vw 9.920634920634921vw 0 9.920634920634921vw;
  background: #181818;
  border-radius: var(--borderRadius);

  display: grid;
  grid-template-columns: 36.97089947089947vw 24.669312169312168vw 1fr;
}

.footerLogo img {
  width: 14.02116402116402vw;
  height: 1.5649470899470899vw;
  margin-bottom: 1.984126984126984vw;
}

.social h3 {
  margin-bottom: 1.984126984126984vw;
}

.socialIcons {
  display: flex;
  gap: 1.3227513227513228vw;
}

.socialIcons img {
  width: 3.3068783068783065vw;
  height: 3.3068783068783065vw;
}

.footerContainer hr {
  width: 86.77248677248677vw;
  margin-left: -3.3068783068783065vw;
}

.copyRightContainer {
  margin: 0 auto;
  margin-top: 6.613756613756613vw;
  height: 5.952380952380952vw;
}

/* Footer end */
