.btnContainer {
    width: 11.706349206349206vw;
    height: 3.373015873015873vw;
    background-color: #96202A;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btnContainer:hover {
    cursor: pointer;
}

.btnContainer p {
    color: #fff;
    background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #868686 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 8s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
}

@media only screen and (max-width: 767px) {
    .btnContainer {
        width: 36.266666666666666vw;
        height: 10.666666666666668vw;
    }

    .btnContainer p {
        animation: shine 2s infinite linear;

    }
}

@-moz-keyframes shine {
    0% {
        background-position: -11.904761904761903vw;
    }



    100% {
        background-position: 11.904761904761903vw;
    }
}

@-webkit-keyframes shine {
    0% {
        background-position: -11.904761904761903vw;
    }



    100% {
        background-position: 11.904761904761903vw;
    }
}

@-o-keyframes shine {
    0% {
        background-position: -11.904761904761903vw;
    }



    100% {
        background-position: 11.904761904761903vw;
    }
}

@keyframes shine {
    0% {
        background-position: 0vw;
    }



    100% {
        background-position: 20vw;
    }
}