.container {
  padding: 0 9.920634920634921vw;
  margin-top: var(--containerMarginTop);
}

.cards {
  position: relative;
  height: 70.1058201058201vw;
  margin-top: 4.62962962962963vw;
}

.imgContainer .img {
  width: 100%;
  height: 100%;
}

.container .imgContainer {
  object-fit: cover;
  position: absolute;

  width: 80.15873015873017vw;
  height: 70.1058201058201vw;
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 0 6.4vw;
    padding-right: 0;
    margin-top: 16vw;
    overflow: hidden;
  }

  .container h2 {
    padding-right: 6.4vw !important;
  }

  .cards {
    position: relative;
    height: 316.8vw;
    margin-top: 4.62962962962963vw;
    display: flex;
    gap: 4vw;
    margin-top: 8vw;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .imgContainer {
    width: 87.2vw !important;
    height: 316.8vw !important;
    position: relative;
  }
}
